footer#footer
    p
        | 2013 ©
        a(href='http://www.cssjser.com/') CssJser
        | , All Rights Reserved.Theme by
        a(href='http://www.cssjser.com/',title='Jmarry')  Jmarry
        |.
        | 本站采用
        a(href='http://creativecommons.org/licenses/by-nc-sa/3.0/',title='署名-非商业性使用-相同方式共享',target='_blank',rel='nofollow') BY-NC-SA
        |  协议进行授权.