title #{title}-页面仔-前端开发
meta(http-equiv='Content-type', content='text/html;charset=utf-8;')
meta(name='viewport',content='width=device-width, initial-scale=1.0')
meta(name="keywords", content="前端开发, 页面仔, f2e, node.js, express, mongoose, css, js, javascript")
meta(name="description", content="页面仔是使用nodejs的web框架express搭建的前端开发博客，主要内容为html5,css3,javscript和node.js的技术分享和自我沉淀。")
link(href='/img/favicon.ico', rel='shortcut icon', type='image/x-icon')
link(href='/bootstrap/css/bootstrap.min.css',rel='stylesheet')
link(href='/awesome/css/font-awesome.min.css',rel='stylesheet')
link(href='/bootstrap/css/bootstrap-responsive.min.css',rel='stylesheet')
link(href='http://fonts.googleapis.com/css?family=Caesar+Dressing', rel='stylesheet')
block head